.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
  width: 251px;
  z-index: -5;
}

.selected {
  background-color: #eb0d0d;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 251px;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #eb0d0d;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
  width: 251px;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
  width: 251px;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #eb0d0d;
  width: 251px;
  font-size: 15px;
}
.option:hover {
  background-color: #eb0d0d;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#none:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#none:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#newestActivity:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#oldestActivity:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#closestActivity:checked) .selected::before {
  content: attr(data-three);
}

.select:has(.options input[type="radio"]#furthestActivity:checked) .selected::before {
  content: attr(data-four);
}
