.nav-content{
    background-color: #eb0d0d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 40px;
}

.left-element{
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 201px;
    margin-right: 20px;
}

.left-element:hover{
    text-decoration: underline;
    margin-right: 20px;
}

.home{
    width: 115px;
}

.profile{
    width: 86px;
}
.right-side{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.toggle{
    cursor: pointer;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.toggle:hover{
    color: #06e82b;
}

