.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dynamicIsland{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f2f5;
        height: 50px;
    margin-top: 20px
}

.search-bar{
    width: 400px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 35px;
    color: black;
}

.search-bar input{
    border: none;
    outline: none;
    width: 90%;
    height: 90%;
    font-size: 16px;
    margin-left: 10px;
    background-color: transparent;
    color: black;
}

.navbar{
    background-color: #1c7cdb;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
}

.filter{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
    top: 50px;
    margin-right:125px;
    width: 251px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px 20px 100px;
    background-color: #f0f2f5;
    width: 100%;
}

.chatbot{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 1450px;
    top: 613px;
}
.chatbot img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chatbot:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.card{
    height: 475px;
}

.magnifier{
    color: black;
    font-size: 20px;
}

.closeikon{
    color: rgb(251, 0, 0);
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    left: 0px;
    top: -2px;
}

.close{
    position: relative;
    left: 10px;
    top: 3px;
    opacity: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

.close.Show {
    opacity: 1;
}

.Info {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

