.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
  color: black;
  padding: 10px 20px;
}

.left{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.right{
    margin-left: 130px;
}
.profile-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 4px solid black;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 50px;
    font-size: 0.8rem;
}

#val{
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-right: 5px;
}
.profile-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 80%;
  margin-top: 20px;
}

.hobbies{
    margin-left: 100px;
}

.hobby{
    background-color: #eb0d0d;
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
}

.hobby:hover{
    background-color: #18b1e4;
    color: white;
    cursor: pointer;
}

.rating{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: start;
    height: 40px;
}

.percentage{
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.profile-email{
    margin-top: 0px;
}

.center{
    width: 400px;
}

.hobbies-and-rosets{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.rosets{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.items{
    display: flex;
    flex-direction: row;
}

.roset-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

svg{
    font-size: 3rem;
    color: gold;
}

.historyPart{
    margin-top: 50px;
    color: black;
}

.history-cards{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 25px;
}

.history-card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.history-card h3{
    width: 200px;
    color: brown;
}

.history-card p{
    width: 300px;
    font-size: 0.9rem;
    color: gray;
}

.evaluatebtn{
    background-color: #eb0d0d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}